.resize-drag {
  border-radius: 8px;
  padding: 20px;
  margin: 0;
  background-color: #29e;
  opacity:50%;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  position:absolute;
  top:0;
  left:0;

  touch-action: none;

  /* This makes things *much* easier */
  box-sizing: border-box;
}

.resize-drag-video{
  transition:all 1s linear;
  transform:translate(0,0);
/*   touch-action: none;
  pointer-events:none; */
  position:absolute;
  top:0;
  left:0;
}

.kc-zone {
      position:absolute;
}

#kqstyle-viewport {
  pointer-events:none;
}
.debug #kqstyle-viewport {
   pointer-events:all;
}

