.killer-commentator {
  position: absolute;
  bottom:.25rem;
  right:.25rem;
  height: 6.5rem;
  width: 6.5rem;
  padding: .5rem .25rem 0 .25rem;
  margin: 0;
  text-align: center;
}
.killer-commentator svg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.killer-commentator path {
  stroke: #00ff00;
  stroke-width: 7; /* border width */
}

.killer-commentator span {
  display: block;
  margin-top: 50px;
  padding: 8px;
  transform: translateY(-50%);
}
