.killer-commentator {
  position: absolute;
  bottom:2rem;
  right:2rem;
  height: 3rem;
  min-width: 3rem;
  padding: 0;
  margin: 0;
  text-align: center;
}
.killer-commentator {
  color: white;
}
.killer-commentator svg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.killer-commentator path {
  stroke: #00ff00;
  stroke-width: 7; /* border width */
}

.killer-commentator span {
  display: block;
  margin-top: 50px;
  padding: 8px;
  transform: translateY(-50%);
}
