.craft {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow:hidden;
  width:150px;
  height:150px;
  position:relative;
  cursor: pointer important;
}


/* .craft.edit-mode:before, .craft.edit-mode:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 20px;
    top: 0px;
    background-image: radial-gradient(circle at center, #29e 5px, transparent 5px), radial-gradient(circle at center, #29e 5px, transparent 5px);
    background-size: 20px 20px;
    background-position: top center, bottom center;
    background-repeat: no-repeat;
    z-index:9999;
}

.craft.edit-mode:before {
    left: 0px;
}
.craft.edit-mode:after {
    right: 0px;
} */
.craft .handle{
  postion:absolute;
  display:none;
  width:5px;
  height:5px;
  border-radius: 50%;
  background-color:#29e
}
.craft.edit-mode .handle{
  display:block;
}
.craft .tl{
  top:5px;
  left:5px;
}
.craft .tr{
  top:5px;
  right:5px;
}
.craft .bl{
  bottom:5px;
  left:5px;
}
.craft .br{
  bottom:5px;
  right:5px;
}


.no-events{
  pointer-events:none;
  touch-action:none;
}
body, html {
  width:100%;height:100%;
  touch-action:none;
}

